.about,
.help,
.home,
.redux-button-login,
.sign-in,
.personal-profile,
.registration-confirmation,
.reg-form,
.login-form,
.quote,
.sign-up {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about,
// .help,
.home
// .sign-in
// .sign-up,
// .quote
{
  margin-top: 5rem;
}

.redux-button-login {
  // border: 1px solid black;
  margin-top: 5rem;
  margin-bottom: 2rem;
  // position: absolute;
}

.text {
  max-width: 20rem;
  margin: 3rem;
}

.about-single-button {
  margin: 1rem;
}

.about,
.sign-up,
.quote {
  width: 100vw;
}

.about {
  background-color: rgb(114, 251, 114);
  height: 70vh;
}

.sign-up {
  background-color: rgb(44, 246, 44);
  height: 100vh;
}

.quote {
  background-color: green;
  height: 100vh;
}

.sign-in {
  height: 100vh;
  background-color: rgb(44, 246, 44);
}

.footer {
  height: 30vh;
  width: 100vw;
  background-color: indigo;
  display: flex;
}

.footer p {
  margin: 0;
}
