.about,
.help,
.home,
.redux-button-login,
.sign-in,
.personal-profile,
.registration-confirmation,
.reg-form,
.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about,
.help,
.home,
.sign-in {
  margin-top: 10rem;
}

.redux-button-login {
  // border: 1px solid black;
  margin-top: 5rem;
  margin-bottom: 2rem;
  // position: absolute;
}

.text {
  max-width: 20rem;
  margin: 3rem;
}

.about-single-button {
  margin: 1rem;
}

.reg-form {
}
