.about,
.help,
.home,
.redux-button-login,
.sign-in,
.personal-profile,
.registration-confirmation,
.reg-form,
.login-form,
.quote,
.sign-up,
.register {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.text {
  max-width: 40rem;
  margin: 3rem;
}

.text-quote {
  font-size: 3.5rem;
  max-width: 70rem;
}

.about-single-button {
  margin: 1rem;
}

.about,
.sign-up,
.quote {
  width: 100%;
}

.about {
  background-color: $mid-color-light;
  height: 100vh;
}

.sign-up {
  background-color: $mid-color-mid;
  height: 100vh;
}

.quote {
  background-color: $mid-color-light;
  height: 100vh;
}

.sign-in,
.register {
  min-height: 100vh;
  background-color: $mid-color-light;
}

.sign-in,
.register {
  padding-bottom: 30vh;
}

.footer {
  padding: 3rem;
  width: 100%;
  background-color: $mid-color-dark;
  display: flex;
}

.footer p {
  margin: 0;
}
