//-----------------main-nav--------------------------

.nav-container {
  background-color: $base-color-light;
  min-width: 100%;
  // border: rgb(0, 255, 13) solid 1px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  box-shadow: 5px 20px back;
  z-index: 1;
}

.nav-container-login {
  min-width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: $mid-color-light;
}

.nav-links {
  @include justifyCenter;
  list-style-type: none;
  margin-right: 4rem;
}

.nav-link {
  border: 1px black solid;
  width: 7rem;
  height: 2.5rem;
  margin: 0 0.5rem;
  @include justifyCenter;
  align-items: center;
}

li.nav-link a {
  text-decoration: none;
  color: $base-color-dark;
}

//--------------------login-nav-----------------------------

.menu-top-icons {
  // border: 1px rgb(0, 35, 231) solid;
  display: flex;
  padding-right: 1rem;
}

//--------------------workspace-nav-left-----------------

.workspace-menu-left {
  @include justifyCenter;
  padding-top: 2rem;
}

.workspace-menu-left-items {
  width: 100%;
}

.workspace-menu-left-items-link {
  padding: 1rem;
  @include justifyCenter;
}

.workspace-menu-left-items-link:hover {
  border-bottom: 1px $base-color-light solid;
}

.workspace-menu-left-items-button {
  @include buttonUnStyle;
}

.search-placeholder {
  width: 10rem;
  height: 2rem;
  border-radius: 20px;
  margin-top: 5rem;
  border: 1px solid white;
}

//--------------------menu top dropdown-button from icon ----------------

.dropdown-menu1-container {
  position: relative;
}

.dropdown-menu1 {
  background: $base-color-light;
  border-radius: 8px;
  position: absolute;
  top: 75px;
  right: -80px;
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-300px);
  transform: translateX(-90px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.dropdown-menu1.active {
  opacity: 1;
  visibility: visible;
  // transform: translateY();
}

.dropdown-menu1 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu1 li {
  border-bottom: 1px solid $mid-color-dark;
}

.dropdown-menu1 li a {
  text-decoration: none;
  color: $base-color-dark;
  padding: 15px 20px;
  display: block;
}

.menu-top-icons-button {
  @include buttonUnStyle;
  padding: 15px 20px;
}

.dropdown-menu1-trigger {
  background: #f0000000;
  border-radius: 90px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  outline: none;
  color: $base-color-dark;
}

.dropdown-menu1-trigger:hover {
  color: $mid-color-mid;
}

.dropdown-menu1-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

//--------------------menu top dropdown-button from icon logout----------------

.dropdown-menu2-container {
  position: relative;
}

.dropdown-menu2 {
  background: $base-color-light;
  border-radius: 8px;
  position: absolute;
  top: 75px;
  right: -80px;
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-300px);
  transform: translateX(-90px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.dropdown-menu2.active {
  opacity: 1;
  visibility: visible;
  // transform: translateY();
}

.dropdown-menu2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu2 li {
  border-bottom: 1px solid $mid-color-dark;
}

.dropdown-menu2 li a {
  text-decoration: none;
  color: $base-color-dark;
  padding: 15px 20px;
  display: block;
}

.dropdown-menu2-trigger {
  background: #ff000000;
  border-radius: 90px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  outline: none;
}

.dropdown-menu2-trigger:hover {
  color: $mid-color-mid;
}

.dropdown-menu2-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.dropdown-menu2-trigger img {
  // border-radius: 90px;
}

//--------------------menu left dropdown-button from icon----------------

.menu-left-container {
  position: relative;
}

.menu-left {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.menu-left.active {
  opacity: 1;
  visibility: visible;
  position: relative;
  top: 0px;
  bottom: 20px;
  right: 0px;
  background-color: $mid-color-dark;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.menu-left ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-left li {
  border-bottom: 1px solid $base-color-light;
}

.menu-left li a {
  text-decoration: none;
  color: $base-color-light;
  padding: 15px 20px;
  display: block;
}

.menu-left-trigger {
  // background: $base-color-light;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  border: none;
  vertical-align: middle;
}

.menu-left-trigger:hover {
  color: $mid-color-light;
  outline: none;
  border: 0;
}

.menu-left-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

li.workspace-menu-left-icon-single:hover {
  text-decoration: none;
  outline: none;
  border: 0;
  border: none;
}

.workspace-menu-left-icon-single.active {
  transform: rotate(90deg);
  border: 0;
}

li.workspace-menu-left-items-link button {
  @include buttonUnStyle;
  color: $base-color-light;
}
