.nav-container {
  width: 99.15vw;
  // background-color: white;
  display: flex;
  justify-content: flex-end;
  // text-align: center;
  align-items: flex-end;
}

.nav-links {
  // background-color: pink;
  // position: absolute;
  // top: 0;
  // right: 0;
  // border: 1px black solid;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-right: 4rem;
}

.nav-link {
  border: 1px black solid;
  width: 5rem;
  height: 2rem;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
