//------home section--------------------------------------

.about-single-button-dark {
  @include singleButton;
  background-color: $mid-color-mid;
  width: 10rem;
  // padding: 1rem 2rem;
  margin-right: 2rem;
  outline: none;
}

.about-single-button-dark:hover {
  background-color: $mid-color-light;
  transform: translateY(3px);
  box-shadow: 5px 10px rgba(14, 13, 13, 0.233);
}

.sign-up-single-button-light {
  @include singleButton;
  background-color: $mid-color-light;
  outline: none;
  padding: 1rem 3rem;
}

.sign-up-single-button-light:hover {
  background-color: $mid-color-mid;
  transform: translateY(3px);
  box-shadow: 5px 10px rgba(14, 13, 13, 0.233);
}

//-------workspace-menu-top--------------------------

.workspace-menu-top-button-single {
  margin: 1rem 2rem;
}

//-------workspace-menu-left--------------------------

.workspace-menu-left-items-button.menu-left-trigger {
  color: $base-color-light;
  padding-right: 0.5rem;
}

li.workspace-menu-left-items-button-big button {
  @include buttonUnStyle;
  background-color: $mid-color-mid;
  border-radius: 30px;
  border: $mid-color-light solid 1px;
  padding: 0.2rem 1.5rem;
}

.workspace-menu-left-items-button-big {
  padding: 0.8rem 1rem;
  // border: 1px $base-color-light solid;
  @include justifyCenter;
}

.workspace-menu-left-items-button-big:first-child {
  padding-top: 2rem;
}

.workspace-menu-left-items-button-big:nth-child(3) {
  padding-bottom: 2rem;
}

.test-test {
  padding-right: 0.5rem;
}

.workspace-menu-left-items-button-big a:hover,
li.workspace-menu-left-items-button-big button:hover {
  background-color: $mid-color-light;
  cursor: pointer;
  transform: translateY(3px);
}

//---------------login-form-----------------------------

.sign-in-button,
.register-button {
  @include singleButton;
  width: 10rem;
  background-color: $base-color-light;
  padding: 0.5rem;
  margin-top: 2rem;
}

.sign-in-button:hover,
.register-button:hover {
  @include buttonHoverEffect;
  outline: none;
}
