@mixin minHeightComponents {
  min-height: 100vh;
}

@mixin singleButton {
  text-decoration: none;
  border: 1px solid $mid-color-dark;
  color: $mid-color-dark;
  border-radius: 40px;
  padding: 1rem;
}

@mixin justifyCenter {
  display: flex;
  justify-content: center;
}

@mixin buttonUnStyle {
  border: none;
  padding: 0;
  background: none;
  outline: none;
}

@mixin buttonHoverEffect {
  cursor: pointer;
  transform: translateY(3px);
  box-shadow: 5px 5px $base-color-dark;
}
