/* source-code-pro-regular - latin */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/SourceCodePro-Light.ttf");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/SourceSansPro-Light.ttf");
}

body {
  font-family: "Source Sans Pro";
  font-weight: 400;
  line-height: 1.7;
  color: $mid-color-dark;
}

h2 {
  font-family: "Source Code Pro";
  font-size: 4rem;
}

p {
  font-family: "Source Sans Pro";
  font-size: 2rem;
} //-----------------home--------------------------------------

button.sign-up-single-button-light,
button.about-single-button-dark {
  font-size: 1.3rem;
}

.home-header {
  font-family: "Source Sans Pro";
  font-size: 5rem;
}

//--------------nav----------------------------------------------

.nav-link {
  font-size: 1.5rem;
  color: $base-color-light;
}

//--------------text------------------------------------------------

.text-quote {
  font-size: 3.5rem;
}

//-----------------footer--------------------------------------------

.footer-icons-single {
  color: $base-color-light;
  font-size: 5rem;
}

.text-footer {
  color: $base-color-light;
  font-size: 1.5rem;
}

//--------------------workspace-----------------------------------------

.workspace-menu-top-icon-single {
  margin: 1rem;
  font-size: 2rem;
}

//-----------workspace-nav-left----------------------------------------

// font all items on left nav
li.workspace-menu-left-items-link,
.menu-left.active,
.workspace-menu-left-items-button-big a,
li.workspace-menu-left-items-button-big button {
  font-family: "Source Sans Pro";
  font-size: 1.3rem;
  color: $base-color-light;
}

li.workspace-menu-left-items-link a {
  text-decoration: none;
  color: $base-color-light;
}

// arrow button for dropdown
.workspace-menu-left-icon-single {
  font-size: 0.8rem;
}

.workspace-menu-left-items-button {
  color: $base-color-light;
}

.workspace-menu-left-icon-folder {
  font-size: 3rem;
  margin-top: 4rem;
}

//-----------workspace-new-quote form----------------------------------------
.new-quote-form-text {
  font-size: 1rem;
  padding: 0;
  // border: black 1px solid;
  align-self: flex-start;
  margin-left: 2rem;
}
