/* source-code-pro-regular - latin */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/SourceCodePro-Light.ttf");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/SourceSansPro-Light.ttf");
}

body {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  line-height: 1.7;
  color: $mid-color-dark;
}

h2 {
  font-family: "Source Code Pro";
  font-size: 4rem;
}

p {
  font-family: "Source Sans Pro";
  font-size: 2rem;
}

.nav-link {
  font-size: 1.2rem;
}

.text-quote {
  font-size: 3.5rem;
}

.footer-icons-single {
  color: white;
  font-size: 5rem;
}

.text-footer {
  color: white;
  font-size: 1.5rem;
}
